<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - EngiPrep</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>

<body>

 <header>    
    <nav>
        <ul>
            <nav>
                <div class="logo">
                    <img src="/static/images/EngiPrep_Logo.png" alt="logo image">
                    <h2>EngiPrep – Placement Preparation Platform</h2>
                </div>
            </nav>
            <li><a href="/">Home</a></li>
            <li><a href="{{ url_for('login_page') }}">Login</a></li>
        </ul>
    </nav>
</header>


<div class="login-container">

    <h2>Login</h2>

    <form id="loginForm">

        <div class="input-group">
            <input type="text" name="username" required>
            <label>Username</label>
        </div>

        <div class="input-group">
            <input type="password" name="password" required>
            <label>Password</label>
        </div>

        <button type="submit">Login</button>

    </form>

    <p class="signup-text">
        Don't have an account?
        <a href="{{ url_for('signup_page') }}">Sign Up</a>
    </p>

</div>

<script
 src="/static/js/login.js">

</script>

</body>
</html>